body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 70%;
    background-color: #f0cecc;
    border-radius: 20px;
    box-shadow: 0 0 10px #7e98a9;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}

.table {
    border-radius: 10px;
}

.table th,
.table td {
    border: none;
}

.table th {
    background-color: #7e98a9;
    color: #723b38;
}

.floral-background {
    background-image: url('floral-background.jpg');
    background-size: cover;
    backdrop-filter: opacity(0.5);
    background-attachment: fixed;
}

.floral-border {
    border: 5px solid rgba(244, 205, 195, 0.64);
    padding: 20px;
}

.floral-header {
    color: #723b38;
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(241, 142, 160, 0.7);
    font-family: Georgia, serif;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #f0cecc;
    opacity: 0.6;
    color: #333333;
    height: 3.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin-left: 4rem;
}

.navbar li {
    margin-right: 10px;
}

.logout-form {
    display: inline;
}

button {
    width: 5rem;
    background-color: #723b38;
    color: #ffffff;
    margin-top: 0;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.logout-form button {
    background-color: #f0cecc;
    color: #723b38;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.logout-form button:hover {
    background-color: #7e98a9;
}

.notification {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #7e98a9;
    border: 2px solid #af7777;
    color: black;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgb(55, 91, 114);
}

.notificationError {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #af7777;
    border: 2px solid #7e98a9;
    color: black;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgb(55, 91, 114);
}

.nav {
    width: 5rem;
    padding: 0.2rem;
    padding-left: 0.6rem;
    padding-right: 0.5rem;
    margin-left: 1.5rem;
    border-radius: 0.5rem;
}