<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista promotii</title>
    <link th:href="@{/styles/cssandjs/listOfProducts.css}" rel="stylesheet"/>
</head>
<body class="floral-background">
<div class="navbar">
    <ul>
        <li>
            <form th:action="@{/product/listOfProducts}" method="get">
                <button class="nav" type="submit">Produse</button>
            </form>
        </li>
        <li>
            <form th:action="@{/review/listOfReviews}" method="get">
                <button class="nav" type="submit">Reviews</button>
            </form>
        </li>
        <li>
            <form th:action="@{/cart/getByUser}" method="get">
                <button class="nav" type="submit">Cos</button>
            </form>
        </li>
        <li>
            <form th:action="@{/order/getByUser/all/{userId}(userId=${user.getId()})}" method="get">
                <button class="nav" type="submit">Comenzi</button>
            </form>
        </li>
        <li th:if="${user.getRole().toString()} == 'ADMIN'">
            <form th:action="@{/card/listOfPayments}" method="get">
                <button class="nav" type="submit">Plati</button>
            </form>
        </li>
        <li th:if="${user.getRole().toString()} == 'ADMIN'">
            <form th:action="@{/listOfUsers}" method="get">
                <button class="nav" type="submit">Useri</button>
            </form>
        </li>
        <li th:if="${user.getRole().toString()} == 'ADMIN'">
            <form th:action="@{/promotion/get/all}" method="get">
                <button class="nav" type="submit">Promotii</button>
            </form>
        </li>
        <li>
            <form th:action="@{/userProfile}" method="get">
                <button class="nav" type="submit">Profil</button>
            </form>
        </li>
        <li>
            <form th:action="@{/logout}" method="get">
                <button class="nav" type="submit">Log Out</button>
            </form>
        </li>
    </ul>
</div>
<div class="container">
    <form class="addProduct" th:if="${user.getRole().toString()} == 'ADMIN'" th:action="@{/promotion/createPromotion}"
          method="get">
        <button type="submit">Adauga promotie</button>
    </form>

    <h1 class="floral-header">Lista promotii</h1>

    <div class="product-container" th:each="promotion : ${promotions}">
        <div class="product">
            <div>ID: <span th:text="${promotion.id}">ID</span></div>
            <div>Nume: <span th:text="${promotion.name}">Nume</span></div>
            <div>Discount: <span th:text="${promotion.discountPercentage}"></span>%</div>

            <div>Produse:</div>
            <ul>
                <li th:each="product : ${promotion.products}">
                    <span th:text="${product.name}"></span>
                </li>
            </ul>

            <div class="buttonsModif">
                <div class="adminButtons" th:if="${user.getRole().toString()} == 'ADMIN'">
                    <form th:action="@{/promotion/updatePromotion/{promotionId}(promotionId=${promotion.getId()})}"
                          method="get">
                        <button class="buttons-product" type="submit">Modifica promotie</button>
                    </form>
                    <form th:id="'deleteProm_' + ${promotion.getId()}"
                          th:action="@{/promotion/delete/{promotionId}(promotionId=${promotion.getId()})}"
                          method="post">
                        <button id="deleteBtn" class="buttons-product" type="submit">Sterge promotie</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    document.querySelectorAll('[id^="deleteProm_"]').forEach(function (form) {
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            var formData = new FormData(this);
            fetch(this.action, {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.redirected) {
                        var notification = document.createElement('div');
                        if (response.url.includes('/promotion/get/all')) {
                            setTimeout(function () {
                                window.location.href = response.url
                            }, 1000);
                            notification.className = 'notification';
                            notification.textContent = 'Promotia a fost stearsa!';
                            document.body.appendChild(notification);
                        } else {
                            notification.className = 'notificationError';
                            notification.textContent = 'Nu s-a putut sterge promotia!';
                            document.body.appendChild(notification);
                            setTimeout(function () {
                                window.location.reload();
                            }, 1000);
                        }
                    }
                })
        });
    });
</script>
</html>
