<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista useri</title>
    <link th:href="@{/styles/cssandjs/listOfUsers.css}" rel="stylesheet"/>
</head>
<div class="navbar">
    <ul>
        <li>
            <form th:action="@{/product/listOfProducts}" method="get">
                <button class="nav" type="submit">Produse</button>
            </form>
        </li>
        <li>
            <form th:action="@{/review/listOfReviews}" method="get">
                <button class="nav" type="submit">Reviews</button>
            </form>
        </li>
        <li>
            <form th:action="@{/cart/getByUser}" method="get">
                <button class="nav" type="submit">Cos</button>
            </form>
        </li>
        <li>
            <form th:action="@{/order/getByUser/all/{userId}(userId=${user.getId()})}" method="get">
                <button class="nav" type="submit">Comenzi</button>
            </form>
        </li>
        <li th:if="${user.getRole().toString()} == 'ADMIN'">
            <form th:action="@{/card/listOfPayments}" method="get">
                <button class="nav" type="submit">Plati</button>
            </form>
        </li>
        <li th:if="${user.getRole().toString()} == 'ADMIN'">
            <form th:action="@{/listOfUsers}" method="get">
                <button class="nav" type="submit">Useri</button>
            </form>
        </li>
        <li th:if="${user.getRole().toString()} == 'ADMIN'">
            <form th:action="@{/promotion/get/all}" method="get">
                <button class="nav" type="submit">Promotii</button>
            </form>
        </li>
        <li>
            <form th:action="@{/userProfile}" method="get">
                <button class="nav" type="submit">Profil</button>
            </form>
        </li>
        <li>
            <form th:action="@{/logout}" method="get">
                <button class="nav" type="submit">Log Out</button>
            </form>
        </li>
    </ul>
</div>
<body class="floral-background">
<div class="container floral-border">
    <h1 class="floral-header">Lista useri</h1>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nume</th>
            <th scope="col">Contact</th>
            <th scope="col">Adresa</th>
            <th scope="col">Email</th>
            <th scope="col">Rol</th>
            <th scope="col">Modifica user</th>
            <th scope="col">Sterge user</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId().toString()}">ID</td>
            <td th:text="${user.getName()}">Nume</td>
            <td th:text="${user.getContactNumber()}">Contact</td>
            <td th:text="${user.getAddress()}">Adresa</td>
            <td th:text="${user.getEmail()}">Email</td>
            <td th:text="${user.getRole().toString()}">Role</td>
            <td>
                <form th:action="@{/updateUser/{userId}(userId=${user.getId()})}" method="get">
                    <button type="submit">Modifica</button>
                </form>
            </td>
            <td>
                <form th:id="'deleteUser_' + ${user.getId()}" th:action="@{/delete/{userId}(userId=${user.getId()})}"
                      method="post">
                    <button id="deleteUser" type="submit">Sterge</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script>
    document.querySelectorAll('[id^="deleteUser_"]').forEach(function (form) {
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            var formData = new FormData(this);
            fetch(this.action, {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.redirected) {
                        var notification = document.createElement('div');
                        if (response.url.includes('/login') || response.url.includes('/listOfUsers')) {
                            setTimeout(function () {
                                window.location.href = response.url
                            }, 1000);
                            notification.className = 'notification';
                            notification.textContent = 'Profilul a fost sters!';
                            document.body.appendChild(notification);
                        } else {
                            notification.className = 'notificationError';
                            notification.textContent = 'Nu s-a putut sterge profilul!';
                            document.body.appendChild(notification);
                            setTimeout(function () {
                                window.location.reload();
                            }, 1000);
                        }
                    }
                })
        });
    });
</script>
</html>
